.ai-bubble {
    border-color: var(--surface-800);
    background-color: var(--surface-0);
    /* background-color: var(--surface-100); */
    align-self: flex-start;
}
.user-bubble {
    border-color: var(--primary-800);
    background-color: var(--primary-900);
    /* background-color: var(--primary-100); */
    align-self: flex-end;
}

:host ::ng-deep .p-button{
        padding: 0.8em;
}